.ScatterplotGraph-tooltip{
    background-color: lightsteelblue;
    border-radius: 8px;
    font-family: 12px sans-serif;
    position: fixed;
    display: none;
    padding: 10px;
    opacity: .9;
}
.ScatterplotGraph-title #SG-main-title{
    font-size: 30px;
}
.ScatterplotGraph-title #SG-sub-title{
    font-size: 20px;
}
#ScatterplotGraph-container{
    text-align: center;
    margin-bottom: 80px;
}
.SG-dot{
    stroke: black;
}
.SG-dot-active{
    stroke: aquamarine;
    stroke-width: 2px;
}