.TM-tooltip{
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 6px;
    color: white;
    text-align: center;
    padding: 0.5em;
    display:none;
    position: fixed;
    opacity: 1;
    pointer-events: none;
    box-sizing: border-box;
}

.TM-tooltip.show{
    display: block;
}
#TM-container{
    text-align: center;
}
#TM-nav-links {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: #f1f1f1;
}
#TM-nav-links li{
    display: inline-block;
}
#TM-nav-links li a{
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}
#TM-nav-links li a:hover{
    background-color: #555;
    color: white;
}